.metadata
*Pedgog\test-output\*
*Pedgog\target\*
*Pedgog\screenshots\*
.metadata\*
.metadata\.log
*.snap
*.resources
*.xml
*.html
.metadata\.log
*.html
.metadata\.log
*.index
*.class
Pedgog/.classpath
Pedgog/.settings
